<h1><%= @photo.name %></h1>
<p>by <a href="/users/<%= @user.id %>/albums"><%= @user.username %></a></p>


<div class="photo-background">
  <div class="photo-container">
    <img class="photo" src="<%= @photo.url %>">
  </div>
</div>


<div class="prev">
  prev
  <form action="/" method="post">
    <input type="hidden" name="photo_id" value="<%=@photo.id%>">
    <input type="hidden" name="album_id" value="<%=@photo.album_id%>">
    <input type="hidden" name="album_photo_ids" value="<%=@album_photo_ids%>">
    <!-- <input id="prev" type="submit" value="prev"> -->
  </form>
</div>

<div class="next">
  next
  <form>
    <input type="hidden" name="photo[photo_id]" value="<%=@photo.id%>">
    <input type="hidden" name="photo[album_id]" value="<%=@photo.album_id%>">
    <input type="hidden" name="photo[album_photo_ids]" value="<%=@album_photo_ids%>">
    <!-- <input id="next" type="submit" value="next"> -->
  </form>
</div>


